<html>
  <head>
    <Title>
      Article | <%= article.title %>
    </Title>
  </head>

  <body>
    <div>
      <h1>
        <%= article.title %>
      </h1>

      <p>
        <%= article.body %>
      </p>

      <a href="/articles">
        Kembali
      </a>
    </div>
  </body>
</html>